/* snackbar */
.error-snackbar {
  background-color: rgb(217, 83, 79) !important;
}
.success-snackbar {
  background-color:rgb(92, 184, 92) !important;
}
.warning-snackbar {
  background-color: rgb(240, 173, 78) !important;
}
.info-snackbar {
  background-color:rgb(91, 192, 222) !important;
}
