.title{
  background-color: rgb(204, 198, 191);
  justify-content: center;
  mat-list-item{
    margin-top: 0px;
    margin-bottom: 0px;
  }

}
.cartList{
  width: 100%;
  align-items: center;
  justify-content: center;
}

