@import '../../style/theming.scss';
.content {
  padding: 16px;
}
.example-card {
  margin: 16px;
  cursor: pointer;
  mat-card-content{
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
mat-card-header{
  // background-color:red !important;
  background-color: var(--color-warn) !important;
  color: white;
  padding:5px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  mat-card-subtitle{
    color: white;
  }
}

mat-card{
  padding:0 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

mat-card-content{
  padding:5px !important;
}
