<div class="content">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px">
    <mat-card routerLink="/admin/order/order-inquiry"
    fxFlex="20" fxFlex.xs="100" fxFlex.sm="33" class="example-card" appMatElevation>
      <mat-card-header>
        <mat-card-title>Order</mat-card-title>
        <mat-card-subtitle>sub-header</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/order.png" alt="">
      </mat-card-content>
    </mat-card>
    <mat-card routerLink="/admin/inventory/product-inquiry"
    fxFlex="20" fxFlex.xs="100" fxFlex.sm="33" class="example-card" appMatElevation>
      <mat-card-header>
        <mat-card-title>Inventory</mat-card-title>
        <mat-card-subtitle>sub-header</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/inventory.png" alt="">
      </mat-card-content>
    </mat-card>
    <mat-card routerLink="/admin/user/user-inquiry"
    fxFlex="20" fxFlex.xs="100" fxFlex.sm="33" class="example-card" appMatElevation>
      <mat-card-header>
        <mat-card-title>User</mat-card-title>
        <mat-card-subtitle>sub-header</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/user.png" alt="">
      </mat-card-content>
    </mat-card>
  </div>
</div>
