section {
  margin-top: 50px;
  height: calc(100vh - 10%) ;
  justify-content: center;
  align-items: center;
  display: flex;

  .container{
    min-width: 350px;
    h2 {
      color: rgb(107, 101, 101);
      overflow-wrap: break-word;
      text-align: center;
    }
    form {
      width: 100%;
    }
    .divider{
      margin: 10px 0px;
    }
    button {
      display: block;
      width: 100%;
    }
  }


}
